.banner{
    background-color: #A7D2Cb;
    color: #221B06;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Geneva, Tahoma, sans-serif, Times, serif;
}

.bannerCaption{
    font-size: 20px;
}
 
.faq{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.faqHeading{
    text-align: center;
    color: #221B06;
}

.qAndA{
    background-color: #155765;
    text-align: center;
    color: #FFFFFF;

}

.qaHeading{
    font-size: large;
    color: wheat;
}