
<div class="container-fluid banner">
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">&nbsp;</div>
    <h1>Frequently Asked Questions</h1>
    <div class="col-md-12">&nbsp;</div>
    <p class="bannerCaption">and their answers obviously!</p>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">&nbsp;</div>
</div>
 
<div class="container faq">
    <div class="col-md-12">&nbsp;</div>
    <h2 class="faqHeading">FAQs</h2>
    <div class="col-md-12">&nbsp;</div>
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6 qAndA">
                <p><span class="qaHeading">Question :</span> Lorem ipsum dolor sit amet consectetur?</p>
                <p><span class="qaHeading">Answer :</span>  Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6 qAndA">
                <p><span class="qaHeading">Question :</span> Lorem ipsum dolor sit amet consectetur?</p>
                <p><span class="qaHeading">Answer :</span>  Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6 qAndA">
                <p><span class="qaHeading">Question :</span> Lorem ipsum dolor sit amet consectetur?</p>
                <p><span class="qaHeading">Answer :</span>  Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6 qAndA">
                <p><span class="qaHeading">Question :</span> Lorem ipsum dolor sit amet consectetur?</p>
                <p><span class="qaHeading">Answer :</span>  Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">&nbsp;</div>
</div>
 
<app-footer></app-footer>