<div class="footer container">
    <hr>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 footer-copyright">
            <span>Copyright &copy; 2020 All Rights Reserved</span>
        </div>
        <div class="col-md-3"></div>
    </div>
    
    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 contact-us">
            <span>
                <a href="https://www.linkedin.com/in/nischal-simha-79753662/" target="_blank"><img src="assets/images/linkedin.png" alt=""></a>&nbsp;&nbsp;
                <a href="https://github.com/Simhanischal" target="_blank"><img width="32" height="32" src="assets/images/github.png" alt=""></a>
            </span>
        </div>
        <div class="col-md-3"></div>
    </div>

    <!-- Copyright -->
</div>
