<div class="container-fluid banner">
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">&nbsp;</div> 
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12 bannerText">
        <h1>We want our community clean!</h1>
        <div class="col-md-12">&nbsp;</div>
        <div class="bannerCaption">Please Help us filter out Spammers by</div>
        <div class="bannerCaption">following the Rules enforced for posting a question!</div> 
    </div>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">&nbsp;</div>
</div>

<div class="container rules">
    <div class="col-md-12">&nbsp;</div>
    <h2 class="ruleHeading">Rules For Posting A Question</h2>
    <p class="ruleCaption">You’re ready to ask your first programming-related question and the community is here to help! To get you the best answers, we’ve enforced some Rules:</p>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 row ruleList">
            <ul>
                <li class="ruleListItem">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="ruleHighlight">Search :</span>  Before you post, search the site to make sure your question hasn’t been answered.</li>
                <br>
                <li class="ruleListItem">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="ruleHighlight">Summarize :</span> Summarize the problem or a doubt you have in mind and include details.</li>
                <br>
                <li class="ruleListItem">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="ruleHighlight">Describe :</span> Describe what you have in mind and provide research.</li>
                <br>
                <li class="ruleListItem">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="ruleHighlight">Display :</span> When appropriate, show some code to reproduce your problem.</li>
            </ul>         
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 askQuestion">
            <p>If you have read and understood the rules for posting a question , you are good to go!</p>
            <button class="btn askQuestionBtn" (click)="askQuestion()">Ask a Question</button>
        </div>
    </div>
    <div class="col-md-12">&nbsp;</div>
</div>

<app-footer></app-footer> 