.banner{
    background-color: #A7D2Cb;
    color: #221B06;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Geneva, Tahoma, sans-serif, Times, serif;
} 

.bannerText{ 
    text-align: center;
}

.bannerCaption{
    font-size: 20px;
}
 
.about{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.aboutHeading{
    color:#221B06;
}

.aboutList{
    text-align: center;  
}

.aboutListItem{
    background-color:#155765;
    list-style-type: none;
    transition: 0.3s;
}

.aboutListItem:hover{
    transform: scale(1.2);
}

.listItemText{
    color: #FFFFFF;
}