<div class="container-fluid banner">
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12 bannerText">
        <h1>We Love </h1>
        <h1>the Awesome Developer Community!</h1>
        <div class="col-md-12">&nbsp;</div>
        <div class="bannerCaption">So we created this to help each other out in our amazing</div>
        <div class="bannerCaption">journey of building useful things!</div>     
    </div>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">&nbsp;</div>  
</div>
<div class="container about"> 
    <div class="col-md-12">&nbsp;</div>
    <h2 class="aboutHeading">About CSQA</h2>
    <div class="col-md-12">&nbsp;</div> 
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 aboutList row">
            <ul>
                <li class="aboutListItem"><span class="listItemText">CSQA is an open-source Q&A website for coders and CS learners.</span></li>
                <br>
                <li class="aboutListItem"><span class="listItemText">Whether you have a question about a specific language, setting up your dev environment, or anything else, try asking it here!</span></li>
            </ul>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="col-md-12">&nbsp;</div> 
    <div class="col-md-12">&nbsp;</div> 
</div>
<app-footer></app-footer>