<div class="container-fluid">
    <div class="row">&nbsp;</div>
    <h1 class="editHeading">Edit Your Answer</h1>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div> 
    <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8 editForm">
            <form action="" ngNativeValidate (ngSubmit)="editAnswer(answer.value)">
            <div class="row">&nbsp;</div>
            <div class="row">&nbsp;</div>
            <!-- <div class="row"> 
                <div class="col-md-2"></div>
                <div class="form-group col-md-8 formItem">
                    <label class="formLabel" for="title">Question Title</label>
                    <input type="text" #title  class="form-control formInput" id="title">
                </div>
                <div class="col-md-2"></div>
            </div> -->
            <div class="row">
                <div class="col-md-2"></div>
                <div class="form-group col-md-8 formItem">
                    <label class="formLabel" for="answer">Answer  <span class="requiredStar">*</span></label>
                    <textarea class="form-control formInput" #answer required id="body" rows="5">{{answer_to_edit.answer}}</textarea>
                </div>
                <div class="col-md-2"></div>
            </div> 
            <div class="row">&nbsp;</div>
            <div class="editButtonDiv"><button class="btn editButton">Submit Edits</button></div>
            <div class="row">&nbsp;</div>
            <div class="row">&nbsp;</div>
            </form>
        </div>
        <div class="col-md-2">&nbsp;</div>
    </div>
</div>
<div class="row">&nbsp;</div>
