<div class="container-fluid banner">
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">&nbsp;</div>
    <h1>Found a bug in our app ?</h1>
    <div class="col-md-12">&nbsp;</div>
    <p class="bannerCaption">Please do inform us !</p>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">&nbsp;</div>
</div>
 
<div class="container-fluid">
    <div class="col-md-12">&nbsp;</div>
    <h2 class="bugHeading">Report a Bug ! </h2> 
    <div class="col-md-12">&nbsp;</div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="bugForm col-md-6">
            <form ngNativeValidate>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="form-group col-md-6 formItem">
                        <div class="col-md-12">&nbsp;</div>
                        <label class="formLabel" for="name">Name</label>
                        <input type="text" class="form-control formInput" id="name" placeholder="Enter your Name">
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="form-group col-md-6 formItem">
                        <label class="formLabel" for="email">Email address <span class="requiredStar">*</span></label>
                        <input type="email" required class="form-control formInput" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="form-group col-md-6 formItem">
                        <label class="formLabel" for="description">Description <span class="requiredStar">*</span></label>
                        <textarea class="form-control formInput" required id="description" rows="3" placeholder="Give a description of the bug you found"></textarea>
                    </div>
                    <div class="col-md-3"></div>
                </div>  
                <div class="formButtonDiv"><button type="submit" class="btn formButton">Send</button></div>
                <div class="col-md-12">&nbsp;</div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">&nbsp;</div>
</div>

 <app-footer></app-footer>