<div class="container-fluid askQuestionBanner">
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">&nbsp;</div>
    <div class="askQuestionHeading">
        <h1>Ask your Question here!</h1>
        <p class="bannerCaption">Please check out our <a class="rulesLink" routerLink="/rules">Rules for Posting</a> a Question</p>
    </div>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">&nbsp;</div>
</div> 

<div class="container main">
    <div class="col-md-12">&nbsp;</div>
    <h1 class="formHeading">Fill in the details!</h1>  
    <div class="col-md-12">&nbsp;</div>
    <div class="row"> 
        <div class="col-md-2"></div>
        <div class="questionForm col-md-8">
            <form ngNativeValidate (ngSubmit)=onSubmit(title.value,body.value,tags.value)>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="form-group col-md-8 formItem">
                        <label class="formLabel" for="title">Question Title <span class="requiredStar">*</span></label>
                        <input type="text" #title class="form-control formInput" required maxlength="65" id="title" placeholder="Ex : How to start with learning MEAN app development?">
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="form-group col-md-8 formItem">
                        <label class="formLabel" for="body">Question Body <span class="requiredStar">*</span></label>
                        <textarea class="form-control formInput" #body required id="body" rows="4" placeholder="Include all the information someone would need to answer your question"></textarea>
                    </div>
                    <div class="col-md-2"></div>
                </div> 
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="form-group col-md-8 formItem">
                        <label class="formLabel" for="tags">Question Tags <span class="requiredStar">*</span></label>
                        <input type="text" #tags required class="form-control formInput" id="tags"  placeholder="Ex : Node.js , Angular , MongoDB ">
                    </div>
                    <div class="col-md-2"></div>
                </div> 
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="form-group row col-md-8">
                        <div class="col-sm-10">
                            <div class="form-check">
                            <input class="form-check-input" required type="checkbox" id="gridCheck1">
                            <label class="form-check-label formLabel" for="gridCheck1">I have read and understood the rules for posting and will follow the same</label>    
                            </div>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="formButtonDiv"><button type="submit"  class="btn formButton">Post My Question</button></div>
                <div class="col-md-12">&nbsp;</div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="col-md-12">&nbsp;</div>
    <div class="col-md-12">&nbsp;</div>
</div>

<app-footer></app-footer>